{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Press{% endblock title %}
{% block main %}
    <div class="recommended-info">
						<h3>Newsroom</h3>
						<p class="history-text">Duis iaculis justo nec tellus bibendum rhoncus. Phasellus quis pretium leo, sed porta ligula. Mauris
							vitae ornare nisi, et dapibus elit. Vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc. Morbi
							dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus
							feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et
							sapien a hendrerit. Etiam viverra maximus dolor, ac tempor sapien.
						</p>
						<div class="about-grids">
							<div class="about-bottom-grids">
								<div class="col-sm-6 about-left">
									<div class="about-left-grids">
										<div class="col-md-2 about-left-img">
											<span class="glyphicon glyphicon-user glyphicon-book" aria-hidden="true"></span>
										</div>
										<div class="col-md-10 about-left-info">
											<a href="#">Tellus eu consectetur</a>
											<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="col-sm-6 about-right">
									<div class="about-left-grids">
										<div class="col-md-2 about-left-img">
											<span class="glyphicon glyphicon-user glyphicon-headphones" aria-hidden="true"></span>
										</div>
										<div class="col-md-10 about-left-info">
											<a href="#">Viverra pellentesque</a>
											<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grids">
								<div class="col-md-6 news-left">
									<h3>Statistics</h3>
									<ol>
										<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
										<li>Sed euismod faucibus malesuada dui vitae egestas malesuada ante malesuada Morbi luctus accumsan risus</li>
										<li>Malesuada Sed euismod faucibus dui, vitae egestas ante. Morbi luctus accumsan Sed euismod faucibus dui, vitae egestas ante malesuada Morbi luctus accumsan</li>
										<li>Proin rutrum, turpis at accumsan vestibulum, sem justo aliquam mi, sed bibendum metus risus et odio. Etiam vulputate mauris eget vestibulum lacinia.</li>
										<li>Pellentesque posuere dui a erat pellentesque, eget ultricies tellus rutrum. Mauris et molestie dolor. Phasellus condimentum feugiat</li>
										<li>Integer placerat, eros a ullamcorper venenatis, diam erat vestibulum elit, quis fringilla velit ipsum at dolor.</li>
										<li>Sed euismod faucibus malesuada dui vitae egestas malesuada ante malesuada Morbi luctus accumsan risus</li>
										<li>Malesuada Sed euismod faucibus dui, vitae egestas ante. Morbi luctus accumsan Sed euismod faucibus dui, vitae egestas ante malesuada Morbi luctus accumsan</li>
										<li>Proin rutrum, turpis at accumsan vestibulum, sem justo aliquam mi, sed bibendum metus risus et odio. Etiam vulputate mauris eget vestibulum lacinia.</li>
									</ol>
								</div>
								<div class="col-md-6 news-left news-right">
									<h3>Blogs and Social Media</h3>
									<ol>
										<li><a href="#">Lorem ipsum dolor sit amet</a></li>
										<li><a href="#">Sed euismod faucibus malesuada</a></li>
										<li><a href="#">Malesuada Sed euismod faucibus</a></li>
										<li><a href="#">Proin rutrum, turpis at accumsan</a></li>
										<li><a href="#">Pellentesque posuere dui a erat</a></li>
										<li><a href="#">Integer placerat eros a ullamcorper</a></li>
										<li><a href="#">Sed euismod faucibus malesuada</a></li>
										<li><a href="#">Malesuada Sed euismod faucibus</a></li>
										<li><a href="#">Proin rutrum, turpis at accumsan</a></li>
									</ol>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
{% endblock main %}

		<div class="recommended-info">
						<h3>Terms of Service</h3>
						<p class="history-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, eros
							sed suscipit porttitor, diam felis tempus odio, eget sollicitudin purus sem sit amet dolor. Integer euismod
							non mauris commodo rutrum. Nulla risus felis, rhoncus vel est sed, consequat efficitur ante. Phasellus mi
							sapien, accumsan vitae lobortis vitae, laoreet dapibus metus. Pellentesque id ipsum vel nibh imperdiet
							imperdiet ac ac mauris. Suspendisse ac leo augue. Nullam venenatis massa ut pulvinar scelerisque. Duis vel
							vehicula urna. Quisque semper vitae lectus a feugiat. Sed dignissim egestas nunc, nec suscipit mauris
							interdum lobortis.
							<span>Duis iaculis justo nec tellus bibendum rhoncus. Phasellus quis pretium leo, sed porta ligula. Mauris
							vitae ornare nisi, et dapibus elit. Vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc. Morbi
							dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus
							feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et
							sapien a hendrerit. Etiam viverra maximus dolor, ac tempor sapien.
							</span>
						</p>
						<div class="terms-info">
							<div class="terms-info-grid">
								<h3>1. Lorem ipsum dolor sit amet</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>2. Morbi cursus gravida bibendum</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.Mauris
									cursus rhoncus feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum
									sit amet. Curabitur vel neque vel sapien pulvinar placerat. Cras eget leo id risus vestibulum
									dapibus. Class aptent taciti sociosqu
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>3. Vivamus pharetra ante convallis</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, Mauris cursus rhoncus feugiat. Proin quis
									nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet. Curabitur vel neque vel
									sapien pulvinar placerat. Cras eget leo id risus vestibulum dapibus. Class aptent taciti sociosqu eu
									pretium neque urna nec lorem. Mauris cursus rhoncus Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>4. Quisque id metus sed enim ornare</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.lectus
									sem tincidunt mauris, Mauris cursus rhoncus feugiat.
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>5. Vivamus pharetra ante convallis</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, Vivamus pharetra, ante convallis aliquam sodales,
									arcu dolor consectetur eros, a consequat nisl risus sit amet nuncVivamus pharetra, ante convallis aliquam sodales,
									arcu dolor consectetur eros, a consequat nisl risus sit amet nuncVivamus pharetra, ante convallis aliquam sodales,
									arcu dolor consectetur eros, a consequat nisl risus sit amet nuncid cursus erat interdum sit amet.
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>6. Morbi cursus gravida bibendum</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>7. Vivamus pharetra ante convallis</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus
									feugiat. Proin quis nisl augue. Vivamus pharetra, ante convallis aliquam sodales, arcu dolor consectetur
									eros, a consequat nisl risus sit amet nuncNulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>8. Lorem ipsum dolor sit amet</h3>
								<p>Pellentesque consequat ligula dui, in Vivamus pharetra, a consequat nisl risus sit amet nuncaliquam libero
									pellentesque sit amet. Ut viverra, urna vitae volutpat rhoncus, lectus sem tincidunt mauris, eu pretium
									neque urna nec lorem. Mauris cursus Vivamus pharetra, ante convallis aliquam sodales, arcu dolor consectetur eros,
									a consequat nisl risus sit amet nuncrhoncus feugiat. Proin quis nisl augue. Nulla eleifend velit neque,
									id cursus erat interdum sit amet.
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>9. Morbi cursus gravida bibendum</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.Vivamus
									pharetra, ante convallis aliquam sodales, arcu dolor consectetur eros, a consequat nisl risus sit amet
									nuncVivamus pharetra, ante convallis aliquam sodales, arcu dolor consectetur eros, a consequat nisl risus sit amet nunc
								</p>
							</div>
							<div class="terms-info-grid">
								<h3>10. Vivamus pharetra ante convallis</h3>
								<p>Pellentesque consequat ligula dui, in aliquam libero pellentesque sit amet. Ut viverra, urna vitae
									volutpat rhoncus, lectus sem tincidunt mauris, eu pretium neque urna nec lorem. Mauris cursus rhoncus
									feugiat. Proin quis nisl augue. Nulla eleifend velit neque, id cursus erat interdum sit amet.
								</p>
							</div>
						</div>
					</div>