{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Sports{% endblock title %}
{% block main %}
    <div class="recommended">
					<div class="recommended-grids english-grid">
						<div class="recommended-info">
							<div class="heading">
								<h3>Latest Sports Videos</h3>
							</div>
							<div class="heading-right">
								<a  href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
							<div class="resent-grid-img recommended-grid-img">
								<a href="single.html"><img src="{% static 'play/images/g.jpg '%}" alt="" /></a>
								<div class="time small-time sports-tome">
									<p>7:30</p>
								</div>
								<div class="clck sports-clock">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</div>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
								<p class="author"><a href="#" class="author">John Maniya</a></p>
								<p class="views">2,114,200 views</p>
							</div>
						</div>
						<div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
							<div class="resent-grid-img recommended-grid-img">
								<a href="single.html"><img src="{% static 'play/images/g1.jpg '%}" alt="" /></a>
								<div class="time small-time sports-tome">
									<p>9:34</p>
								</div>
								<div class="clck sports-clock">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</div>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
								<p class="author"><a href="#" class="author">John Maniya</a></p>
								<p class="views">2,114,200 views</p>
							</div>
						</div>
						<div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
							<div class="resent-grid-img recommended-grid-img">
								<a href="single.html"><img src="{% static 'play/images/g2.jpg '%}" alt="" /></a>
								<div class="time small-time sports-tome">
									<p>5:34</p>
								</div>
								<div class="clck sports-clock">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</div>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
								<p class="author"><a href="#" class="author">John Maniya</a></p>
								<p class="views">2,114,200 views</p>
							</div>
						</div>
						<div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
							<div class="resent-grid-img recommended-grid-img">
								<a href="single.html"><img src="{% static 'play/images/g3.jpg '%}" alt="" /></a>
								<div class="time small-time sports-tome">
									<p>6:55</p>
								</div>
								<div class="clck sports-clock">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</div>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
								<p class="author"><a href="#" class="author">John Maniya</a></p>
								<p class="views">2,114,200 views</p>
							</div>
						</div>
						<div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
							<div class="resent-grid-img recommended-grid-img">
								<a href="single.html"><img src="{% static 'play/images/g.jpg '%}" alt="" /></a>
								<div class="time small-time sports-tome">
									<p>8:04</p>
								</div>
								<div class="clck sports-clock">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</div>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
								<p class="author"><a href="#" class="author">John Maniya</a></p>
								<p class="views">2,114,200 views</p>
							</div>
						</div>
						<div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
							<div class="resent-grid-img recommended-grid-img">
								<a href="single.html"><img src="{% static 'play/images/g1.jpg '%}" alt="" /></a>
								<div class="time small-time sports-tome">
									<p>7:34</p>
								</div>
								<div class="clck sports-clock">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</div>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
								<p class="author"><a href="#" class="author">John Maniya</a></p>
								<p class="views">2,114,200 views</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
    <div class="recommended">
        <div class="recommended-grids">
            <div class="recommended-info">
                <div class="heading">
                    <h3>Top Most Videos</h3>
                </div>
                <div class="heading-right">
                    <a  href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp1.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>7:30</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp2.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>9:34</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp3.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>5:34</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp4.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>6:55</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp5.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>8:04</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp6.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>7:34</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="recommended">
        <div class="recommended-grids">
            <div class="recommended-info">
                <div class="heading">
                    <h3>Popular Sports Videos</h3>
                </div>
                <div class="heading-right">
                    <a  href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp4.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>7:30</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/g2.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>9:34</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp1.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>5:34</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp6.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>6:55</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/g3.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>8:04</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="{% static 'play/images/sp2.jpg '%}" alt="" /></a>
                    <div class="time small-time sports-tome">
                        <p>7:34</p>
                    </div>
                    <div class="clck sports-clock">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h5><a href="single.html" class="title">Nullam interdum metus varius sit sed viverra</a></h5>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
{% endblock main %}

<div class="upload">
			<!-- container -->
			<div class="container">
				<div class="upload-grids">
					<div class="upload-right">
						<div class="upload-file">
							<div class="services-icon">
								<span class="glyphicon glyphicon-open" aria-hidden="true"></span>
							</div>
							<input type="file" value="Choose file..">
						</div>
						<div class="upload-info">
							<h5>Select files to upload</h5>
							<span>or</span>
							<p>Drag and drop files</p>
						</div>
					</div>
					<div class="upload-right-bottom-grids">
						<div class="col-md-4 upload-right-bottom-left">
							<h4>Help and Suggestions</h4>
							<div class="upload-right-top-list">
								<ul>
									<li><a href="#">Lorem ipsum dolor sit amet</a></li>
									<li><a href="#">Fusce egestas tincidunt massa</a></li>
									<li><a href="#">Pellentesque vehicula quis tellus</a></li>
									<li><a href="#">Etiam gravida feugiat tortor eget eleifend</a></li>
									<li><a href="#">Etiam iaculis facilisis metus a viverra</a></li>
									<li><a href="#">Fusce sed enim non orci molestie</a></li>
									<li><a href="#">Lorem ipsum dolor sit amet</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 upload-right-bottom-left">
							<h4>Import videos</h4>
							<div class="upload-right-top-list">
								<ul>
									<li><a href="#">Lorem ipsum dolor sit amet</a></li>
									<li><a href="#">Fusce egestas tincidunt massa</a></li>
									<li><a href="#">Pellentesque vehicula quis tellus</a></li>
									<li><a href="#">Etiam gravida feugiat tortor eget eleifend</a></li>
									<li><a href="#">Etiam iaculis facilisis metus a viverra</a></li>
									<li><a href="#">Fusce sed enim non orci molestie</a></li>
									<li><a href="#">Lorem ipsum dolor sit amet</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 upload-right-bottom-left">
							<h4>Live streaming</h4>
							<div class="upload-right-top-list">
								<ul>
									<li><a href="#">Lorem ipsum dolor sit amet</a></li>
									<li><a href="#">Fusce egestas tincidunt massa</a></li>
									<li><a href="#">Pellentesque vehicula quis tellus</a></li>
									<li><a href="#">Etiam gravida feugiat tortor eget eleifend</a></li>
									<li><a href="#">Etiam iaculis facilisis metus a viverra</a></li>
									<li><a href="#">Fusce sed enim non orci molestie</a></li>
									<li><a href="#">Lorem ipsum dolor sit amet</a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //container -->
		</div>

